# Node modules
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE files
.DS_Store
.vscode/
*.swp

# Ignorer tout en dehors du projet
/*

# Sauf ces fichiers et dossiers du projet
!.gitignore
!README.md
!package.json
!package-lock.json
!public/
!src/

# Inclure les configs ESLint et Prettier
!.eslintrc
!.prettierrc
