* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'All Round Gothic Semi';
    src: url('../../public/fonts/all-round-gothic-semi.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../public/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* variable font support */
    font-style: normal;
    font-display: swap;
}
